*~
INSTALL
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
config.h.in
install-sh
missing
depcomp
ltmain.sh
m4/libtool.m4
m4/lt*.m4
Makefile
config.h
config.log
config.status
libtool
.deps
stamp-*
*.lo
*.o
*.la
check_alloc
.libs
arcueid.pc
cscope.out
arcueid.h
check_*
*.gcda
*.gcno
*.gcov
coverage/*
src/arcueid.h
src/arcueid
*.i
*.aux
*.cp
*.fn
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.info
*.pdf
\#*
.\#*
mdate-sh
texinfo.tex
basecomp.*
.gdb_history
test/tmp/*.txt
arc/news/arc
ar-lib
test-driver
