*~
INSTALL
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
config.h.in
install-sh
missing
depcomp
ltmain.sh
m4/libtool.m4
m4/lt*.m4
Makefile
config.h
config.log
config.status
libtool
.deps
stamp-*
*.lo
*.o
*.la
check_alloc
.libs
carc.pc
cscope.out
carc.h
check_*
*.gcda
*.gcno
*.gcov
coverage/*
src/carc.h
*.i
